* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bold;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.hybrid-App {
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto;
}
.hybrid-products {
  display: grid;
  grid-template-columns: auto auto;
}
